
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="container-fluid">
  
      <h1 style="color:#808080; text-align:center;">Classes Schedule Aplication</h1>
          <hr>
      

    <div class="row">
        <div class="col-sm-offset-3 col-sm-2">
            <img src="@Url.Content("~/Content/calendar.png")" alt="IMAGES" style="opacity:0.5; z-index: -999; width:130px; height:130px; margin-top:80%;" />
        </div>
        <div class="col-sm-7 lg">

            <h2>Login</h2>
            @using (Html.BeginForm("PostLogin", "Home", FormMethod.Post, new { @class = "form", id = "Login" }))
            {
                <div class="loginFild">
                    @Html.TextBox("Login", null, new { @class = "form-control", id = "login" })
                </div>
                <div class="loginFild">
                    @Html.TextBox("Password", null, new { @class = "form-control", id = "password", type = "password" })
                </div>
                <button class="btn btn-primary loginFild" type="submit">Sing in</button>
            }
        </div>
        </div>
        <div>
            @Html.Raw(@ViewBag.BadSignIn)
        </div>
    </div>