@model ClassesSchedule.ViewModel.MainP

@{
    ViewBag.Title = "Main";
}

<div class="container">
<h2>Schedule for today - @DateTime.Now.ToString("dd MMMM")</h2>

<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Classroom No.</th>
                <th>Course Name</th>
                <th>Teacher name</th>
                <th>Degree</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 1;}
            @foreach (var item in Model.ScheduleView)
            {
                <tr>
                 
                    <td>@i @{i++;}</td>
                   
                    <td>@item.Start_time.ToString("MMMM dd, H:mm")</td>
                    <td>@item.End_time.ToString("MMMM dd, H:mm")</td>
                    <td>@item.Classroom_No_</td>
                    <td>@item.Course_Name</td>
                    <td>@item.Teacher_name</td>
                    <td>@item.Degree</td>
                </tr>
            }
        </tbody>
        <!--Add footer for totals-->
    </table>

</div>
    </div>





<script type="text/javascript">

</script>
