
@model ClassesSchedule.ViewModel.ScheduleVM
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:5%; margin-bottom:10%;" class="container">
    <h2 style="text-align:center; margin-bottom:2%;">Common Schedule</h2>
    <div style="margin-bottom:15%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Cl-rm no.</th>
                    <th>Course Name</th>
                    <th>Teacher name</th>
                    <th>Degree</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var item in Model.ScheduleList)
            {
                    <tr>

                        <td>@i @{i++;}</td>

                        <td>@item.Start_time.ToString("MMMM dd, H:mm")</td>
                        <td>@item.End_time.ToString("MMMM dd, H:mm")</td>
                        <td>@item.Classroom_No_</td>
                        <td>@item.Course_Name</td>
                        <td>@item.Teacher_name</td>
                        <td>@item.Degree</td>
                    </tr>
                            }
            </tbody>
        </table>

        <h2 style="text-align:center; margin-bottom:2%; margin-top:5%;">Your Schedule</h2>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Cl-rm no.</th>
                        <th>Course Name</th>
                        <th>Teacher name</th>
                        <th>Degree</th>
                    </tr>
                </thead>
                <tbody>
                    @{int j = 1;}
                    @foreach (var it in Model.ScheduleUser)
            {
                        <tr>

                            <td>@j @{j++;}</td>

                            <td>@it.Start_time.ToString("MMMM dd, H:mm")</td>
                            <td>@it.End_time.ToString("MMMM dd, H:mm")</td>
                            <td>@it.Classroom_No_</td>
                            <td>@it.Course_Name</td>
                            <td>@it.Teacher_name</td>
                            <td>@it.Degree</td>
                        </tr>
                                }
                </tbody>
            </table>
            @*TEST*@
          
           
            <button type="button" style="float:right; margin-top:15px;" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Date</button>
          
            <!-- Modal -->
            @using (Html.BeginForm("PostNewDate", "Home", FormMethod.Post, new { @class = "form form-horizontal form-limt", id = "AddNewDate" }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Date</h4>
                            </div>
                            <div class="modal-body">

                                @*TEST*@
                                <form class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-4 control-label" for="formGroupInputSmall">Start Time</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => Model.STime, new { htmlAttributes = new { @id = "datetimepicker3", @class = "form-control", @type = "datetime", @placeholder = "Start", @required = "true", @autofocus= "true" } })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-4 control-label" for="formGroupInputSmall">End Time</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => Model.ETime, new { htmlAttributes = new { @class = "form-control", @type = "datetime", @placeholder = "End", @required = "true", @autofocus = "true" } })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-4 control-label" for="formGroupInputSmall">Course</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => Model.CourseList, new SelectList(Model.CourseList), "Course", htmlAttributes: new { @class = "form-control input-sm", @required = "true", @autofocus = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        <label class="col-sm-4 control-label" for="formGroupInputLarge">Classroom</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => Model.ClassList, new SelectList(Model.ClassList), "Classroom No.", htmlAttributes: new { @class = "form-control input-sm", @required = "true", @autofocus = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-4 control-label" for="formGroupInputSmall">Teacher</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => Model.TeacherList, new SelectList(Model.TeacherList), "Teacher", htmlAttributes: new { @class = "form-control input-sm", @required = "true", @autofocus = "true" })
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    //jQuery('#datetimepicker3').datetimepicker({
    //    format: 'd.m.Y H:i',
    //    inline: true,
    //    lang: 'ru'
    //});

    @*$('input[type="datetime"]').datetimepicker({
      timepicker: true,
      step: 1,
      closeOnDateSelect: true,
      format: '@ViewBag.PerlShortDateTimeFormat',
      lang: '@ViewBag.Language',
      scrollInput: false
    });*@
</script>